/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #888;

}

body {
    font-size: 1em;
    line-height: 1.4;
    
}

body, button, input{
	font-family: 'Ruda', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
{
    transition: all .5s ease-out;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    font-family: 'Ruda', sans-serif;

}

.wrapper {
    width: 90%;
    margin: 0 5%;
	margin:0 auto;
	
	overflow: visible;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
/*     border-bottom: 3px solid #666; */
	text-transform: lowercase;
	position: relative;
	z-index: 99;
}

.header-container nav{
	
}

.footer-container {
	min-height: 100px;
}

.header-container,
.footer-container,
.main aside,
.weight-configuration h3.weight,
body {
    background: linear-gradient(to bottom, #bbb 0%, #888 100%); 
    background: #333;
}

.main-container{
	background: white;
}

.title {
    color: #F0F0F0;
    font-size: 27px;
    font-weight: 700;
    margin: 0.7em 0 0.15em;
	float: left;
   /*  text-shadow: 1px 1px 0 #AAAAAA; */
}

div.main.wrapper{
	position: relative;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-top: 21px;
	width:21px;
	float: right;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
   /*  background: #e44d26; */
   
} nav a.settings{
	text-indent: -9999px;
	height: 21px;
	background-image: url("../img/gear-icon.png");
	background-repeat: no-repeat;
	background-size: 200%;
	outline:0;
} /* nav a.settings:hover, */ nav a.settings.toggled{
	background-position: -21px 0;
}

div.settings-box{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	width:480px;
	position: absolute;
	top: -300px;
	right: 0;
	transition:all .2s ease-out;
	padding: 20px 20px 50px;
	z-index: 10;
} div.settings-box.toggled{
	top: -0px;

} 
div.available-plates{
	overflow: hidden;
}


nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 15px 0 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	color: #666;
}

.config{
	margin-bottom: 25px;
	padding: 12px;
}

.config-wrap{
	margin-bottom: 10px;	
	overflow: hidden;
}

form.weight-to-calculate-wrap{
	position: relative;
}

label.weight {
    color: #CCCCCC;
    font-size: 18px;
    left: 55px;
    position: absolute;
    text-align: left;
    top: 8px;
    z-index: 2;
    transition: .25s all ease-out;
} label.weight.inputFocus {
	opacity: 0;
}


.weight-to-calculate-wrap input{
	font-size: 17px;
    padding: 6px 9px;
    width: 275px;
}

#weight-to-calculate{
	position: relative;
	top: -0px;
}


div.weight-to-calculate{
	margin-bottom: 10px;
}

.weight-configuration{
	padding: 0; 
	margin: 0;
	list-style: none;
} .weight-configuration >  li{
	/* padding: 0 10px; */
} .weight-configuration h3.weight{
	font-weight: normal;
	font-size: 16px;
	margin: 0;
	padding: 5px 8px;
	color: #F9F9F9;
	/* border-bottom: 2px solid #555555; */
} 


ul.sets{
	overflow: hidden;
	display:-webkit-flex;
	display: flex;
	/* align-items: stretch; */

} ul.sets > li {
	float: left;
	/* padding: 5px; */
	/* border-right: 1px solid #ccc; */
	width: 130px;
	width: 200px;
	/* height: 6em; */
	
	
} ul.sets > li:last-child {
	border-right: none;
} ul.sets > li:last-child div.weight-reps{
	font-weight: 900;
	/* color: #fff; */
}

.additional-weight{
	clear: both;
}

.weight-reps {
    border-bottom: 2px solid #777;
    color: #333333;
    margin-bottom: 10px;
    padding: 4px 5px 0;
    text-align: center;
}

.plate-breakdown > div {
	
	
} .plate-breakdown > div:nth-child(odd){
/* 	background: #ccc; */
} .plate-breakdown > div:nth-child(even){
/* 	background: #ddd; */
}


.plate{
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    margin: 0px auto 3px;
    padding: 0 5px;
    text-align: center;
    color: #777;
    font-size: 15px;
    text-shadow: 1px 1px 0 #f9f9f9;
} .plate-count-0 {
	opacity: 0;
}

.plate-2--5LB, .plate-1KG{
	min-width: 36px;
	width: 30%;
}

.plate-5LB, .plate-2--5KG{
	width:40%;
}

.plate-10LB, .plate-5KG{
	width: 50%;
}

.plate-25LB, .plate-10KG{
	width: 60%;
}

.plate-35LB, .plate-15KG{
	width: 70%;
}

.plate-45LB, .plate-20KG{
	width: 80%;
}


.settings-box{
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3)
	
}

.box{
	margin-bottom: 05px;
	overflow: hidden;
}

.button1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:15px;
	font-weight:900;
	font-style:normal;
	height:38px;
	line-height:26px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button1:active {
	position:relative;
	top:1px;
}



.footer-container footer h3{
	margin: 0;
}
#byline{
	background: url("../img/ss-product.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 42px;
    text-indent: -9999px;
    width: 70px;
    background-size: 215%;
    float: left;
} #byline:hover{
	background-position: -4.335em 0;
}

.github-link {
	display: block;
	float: left;
	position: relative;
	top: -3px;
	width: 44px;
	margin-left: 55px;
} .github-link img{
	width: 100%;
}

h3.weight, ul.sets, .plate, .wrapper, .weight-reps, .title, footer.wrapper h3 {
	transition: all .5s ease-out;
}

#byline{
	transition: all .1s ease-out;
}

.plate-weights-wrap label {
	float: left;
}


/* ==========================================================================
   Text Formatting
   ========================================================================== */
.units {
	text-transform: lowercase;
	font-style: italic;
}

div.weight, div.reps{
	display: inline;
}
.work-reps{
	font-style: italic;
	font-size: 90%;
}

.label{
	/* display: inline; */
	float: left;
	width: 125px;
	margin-right: 25px;
	text-align: right;
	text-shadow: 1px 1px 0 #FFFFFF;
	font-weight: bold;
	color: #888;
}


/* ==========================================================================
   Form Inputs
   ========================================================================== */


input[type=radio], input[type=checkbox] {
		display:none;
	}

input[type=radio] + span, input[type=checkbox] + span {
	display:inline-block;
	margin:-2px -4px 0 0 ;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	
	
	/*
background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#e0e0e0;
*/

	
}

input[type=radio] + span {
	width: 38px;
}

input[type=checkbox] + span {
	width: 20px;
}

 input[type=radio]:checked + span, input[type=checkbox]:checked + span{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#e0e0e0;

	/*
background-image: -moz-linear-gradient(top,#fff,#0066cc);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#0066cc));
	background-image: -webkit-linear-gradient(top,#fff,#0066cc);
	background-image: -o-linear-gradient(top,#fff,#0066cc);
	background-image: linear-gradient(to bottom,#fff,#0066cc);
*/
	

}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width:480px) {
	.weight-configuration >  li:nth-child(n+2){
		font-size: 12px;
	   
	} .weight-configuration >  li:nth-child(n+2) .plate {
	    line-height: 130%;
	    padding: 3px 0 0;
	    margin-bottom: 2px;
		min-width: 28px;  
		font-size: 10px;  
	}
	
	.weight-reps{
		padding: 0;
	}
	
	div.weight{
		
	} 
	
	div.reps {
		display:block;
		margin: -13px 0 -5px;
	} .weight-configuration >  li:nth-child(n+2) .plate {
	
	}
	
    .wrapper{
    	width: 100%;
	}
	
	.title, footer.wrapper h3{
		margin-left: 10px;
	} a.settings{
		margin-right: 10px;
	}
	
	.weight-to-calculate-wrap input{
		/* width: 100px; */
	}
	
	.weight-to-calculate-wrap input.button1 {
		width: 50px;
	}
	
	.label{
		clear: both;
		width: 80px;
	}
	
	input[type=radio] + span {
		width: 40px;
	}
	
	form.weight-to-calculate-wrap{
		margin-left: 10px;
	}


}

@media only screen and (min-width: 480px) {
	.weight-to-calculate-wrap input{
		/* width: 250px; */
	}
	
	
	
	
	
	.weight-to-calculate-wrap input.button1 {
		width: 75px;
	}
	
	.label{
		clear: both;
		width: 125px;
		position: relative;
		top: 2px;
	}

}

@media only screen and (max-width:480px) {
	.settings-box .label{
		width:120px;
	}
	
	.plate-weights-wrap label:nth-child(4) {
		clear: both;
		
	}
	
	input[type="radio"] + span {
	    width: 39px;
	}
}


@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== * /

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== * /

    nav ul li {
        display: inline;
    }
*/
    .oldie nav a {
        margin: 0 0.7%;
    }

	.wrapper {
    	max-width: 860px;
		width: 460px;
	}
	
	
}

@media only screen and (max-width: 768px) {
	.plate-weights-wrap label:nth-child(3) {
		/* clear: both; */
		/* margin-left: 150px; */
	}
	
	div.settings-box {
	    /* padding: 20px 20px 20px 10px; */
	    width: 100%;
	    
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
      /*
  -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
       
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
    
    .wrapper {
		width: 660px;
		
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 860px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


